@media (max-width: 1280px) {
  .rs-firework::after {
    left: 240%;
    bottom: 40%;
    display: block;
  }
}

/* Apply 1200 or greater */
@media (min-width: 1200px) {
  .pe-xl-5 {
      padding-right: 2.5rem !important;
  }
}

@media (max-width: 1199px) {
  .testimonial-arrow {
    display: none !important;
  }
  .testimonial-img {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .rs-firework::after {
    left: 80%;
    bottom: 0;
    display: block;
  }
  .d-md-none {
    color: white;
  }
}

@media (max-width: 992px) {
    .hero-img img {
      display: none !important;
    }
    .rs-hero-shape2 {
      display: none !important;
    }
    .section-desc {
        padding: 20px 0;
    }
    .rs-firework::after {
      left: 90%;
      bottom: 0;
      display: block;
    }
    .d-md-none {
      display: none;
  }
}

/* Apply 992 or greater */
@media (min-width: 992px) {

}

@media (max-width: 640px) {
    .rs-firework::after {
      display: none;
    }
}
  