@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url("https://fonts.googleapis.com/css?family=Caveat:700&display=swap");

:root {
    --primary-color: #ffc100;
    --normal-light-primary: #ffd249;
    --secondary-color: #161616;
    --white: #ffffff;
    --bg-light: rgba(255, 193, 0, 0.1);
    --bg-dark-rgb: rgb(32, 33, 36);
    --bg-transparent: transparent;
    --body-font-family: "Nunito", sans-serif;
    --caveat-font-family: "Caveat";
    --btn-border-radius: 0.375rem;
    --btn-padding: 0.470rem 0.875rem;
    --btn-secondary-border: 1px solid var(--secondary-color);
    --btn-primary-border: 1px solid var(--primary-color);
    --card-dark-bg: #292a2d;
}

body {
  font-family: var(--body-font-family);
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

body,
html {
  height: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: all 0.35s ease;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  position: relative;
}

.xl-1,
.xl-2,
.xl-3,
.xl-4,
.xl-5,
.xl-6,
.xl-7,
.xl-8,
.xl-9,
.xl-10,
.xl-11,
.xl-12,
.lg-1,
.lg-2,
.lg-3,
.lg-4,
.lg-5,
.lg-6,
.lg-7,
.lg-8,
.lg-9,
.lg-10,
.lg-11,
.lg-12,
.md-1,
.md-2,
.md-3,
.md-4,
.md-5,
.md-6,
.md-7,
.md-8,
.md-9,
.md-10,
.md-11,
.md-12,
.sm-1,
.sm-2,
.sm-3,
.sm-4,
.sm-5,
.sm-6,
.sm-7,
.sm-8,
.sm-9,
.sm-10,
.sm-11,
.sm-12,
.xs-1,
.xs-2,
.xs-3,
.xs-4,
.xs-5,
.xs-6,
.xs-7,
.xs-8,
.xs-9,
.xs-10,
.xs-11,
.xs-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
img {
    display: inline !important;
    vertical-align: middle !important;
}
@media (min-width: 576px) {
  .sm-1 {
    width: calc(100% / 12);
  }

  .sm-2 {
    width: calc(100% / 12 * 2);
  }

  .sm-3 {
    width: calc(100% / 12 * 3);
  }

  .sm-4 {
    width: calc(100% / 12 * 4);
  }

  .sm-5 {
    width: calc(100% / 12 * 5);
  }

  .sm-6 {
    width: calc(100% / 12 * 6);
  }

  .sm-7 {
    width: calc(100% / 12 * 7);
  }

  .sm-8 {
    width: calc(100% / 12 * 8);
  }

  .sm-9 {
    width: calc(100% / 12 * 9);
  }

  .sm-10 {
    width: calc(100% / 12 * 10);
  }

  .sm-11 {
    width: calc(100% / 12 * 11);
  }

  .sm-12 {
    width: calc(100% / 12 * 12);
  }
}

@media (min-width: 768px) {
  .md-1 {
    width: calc(100% / 12);
  }

  .md-2 {
    width: calc(100% / 12 * 2);
  }

  .md-3 {
    width: calc(100% / 12 * 3);
  }

  .md-4 {
    width: calc(100% / 12 * 4);
  }

  .md-5 {
    width: calc(100% / 12 * 5);
  }

  .md-6 {
    width: calc(100% / 12 * 6);
  }

  .md-7 {
    width: calc(100% / 12 * 7);
  }

  .md-8 {
    width: calc(100% / 12 * 8);
  }

  .md-9 {
    width: calc(100% / 12 * 9);
  }

  .md-10 {
    width: calc(100% / 12 * 10);
  }

  .md-11 {
    width: calc(100% / 12 * 11);
  }

  .md-12 {
    width: calc(100% / 12 * 12);
  }
}

@media (min-width: 992px) {
  .lg-1 {
    width: calc(100% / 12);
  }

  .lg-2 {
    width: calc(100% / 12 * 2);
  }

  .lg-3 {
    width: calc(100% / 12 * 3);
  }

  .lg-4 {
    width: calc(100% / 12 * 4);
  }

  .lg-5 {
    width: calc(100% / 12 * 5);
  }

  .lg-6 {
    width: calc(100% / 12 * 6);
  }

  .lg-7 {
    width: calc(100% / 12 * 7);
  }

  .lg-8 {
    width: calc(100% / 12 * 8);
  }

  .lg-9 {
    width: calc(100% / 12 * 9);
  }

  .lg-10 {
    width: calc(100% / 12 * 10);
  }

  .lg-11 {
    width: calc(100% / 12 * 11);
  }

  .lg-12 {
    width: calc(100% / 12 * 12);
  }
}

@media (min-width: 1200px) {
  .xl-1 {
    width: calc(100% / 12);
  }

  .xl-2 {
    width: calc(100% / 12 * 2);
  }

  .xl-3 {
    width: calc(100% / 12 * 3);
  }

  .xl-4 {
    width: calc(100% / 12 * 4);
  }

  .xl-5 {
    width: calc(100% / 12 * 5);
  }

  .xl-6 {
    width: calc(100% / 12 * 6);
  }

  .xl-7 {
    width: calc(100% / 12 * 7);
  }

  .xl-8 {
    width: calc(100% / 12 * 8);
  }

  .xl-9 {
    width: calc(100% / 12 * 9);
  }

  .xl-10 {
    width: calc(100% / 12 * 10);
  }

  .xl-11 {
    width: calc(100% / 12 * 11);
  }

  .xl-12 {
    width: calc(100% / 12 * 12);
  }
}

@media (max-width: 576px) {
  .xs-1 {
    width: calc(100% / 12);
  }

  .xs-2 {
    width: calc(100% / 12 * 2);
  }

  .xs-3 {
    width: calc(100% / 12 * 3);
  }

  .xs-4 {
    width: calc(100% / 12 * 4);
  }

  .xs-5 {
    width: calc(100% / 12 * 5);
  }

  .xs-6 {
    width: calc(100% / 12 * 6);
  }

  .xs-7 {
    width: calc(100% / 12 * 7);
  }

  .xs-8 {
    width: calc(100% / 12 * 8);
  }

  .xs-9 {
    width: calc(100% / 12 * 9);
  }

  .xs-10 {
    width: calc(100% / 12 * 10);
  }

  .xs-11 {
    width: calc(100% / 12 * 11);
  }

  .xs-12 {
    width: calc(100% / 12 * 12);
  }
}

.row {
  --bs-gutter-x: 1.875rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1* var(--bs-gutter-y));
  margin-right: calc(-.5* var(--bs-gutter-x));
  margin-left: calc(-.5* var(--bs-gutter-x));
}

.header-dropdown-btn {
    outline: none;
}

.btn-primary {
  background: var(--primary-color) !important;
  color: var(--secondary-color) !important;
  border: var(--btn-primary-border) !important;
}

.btn-primary:hover {
  background: var(--bg-transparent) !important;
  border: var(--btn-primary-border) !important;
}

.btn-secondary {
  background: var(--secondary-color) !important;
  color: var(--white) !important;
  border: var(--btn-secondary-border) !important;
}

.btn-secondary:hover {
  background: var(--bg-transparent) !important;
  color: var(--secondary-color) !important;
  border: var(--btn-secondary-border) !important;
}

.border {
  border: var(--btn-secondary-border) !important;
}

.padding {
  padding: var(--btn-padding) !important;
}

.border-radius {
  border-radius: var(--btn-border-radius) !important;
}

.bg-primary {
  background: var(--primary-color) !important;
}

.bg-light {
  background: var(--bg-light) !important;
}

.bg-dark {
  background: var(--bg-dark-rgb) !important;
}

.card-dark-bg {
  background: var(--card-dark-bg) !important;
}

.flex-centered {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.position-absolute {
  position: absolute !important;
}

svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.big-title {
  font-size: 2.75rem !important;
  line-height: 1.25 !important;
  font-weight: 700 !important;
}

.common-title {
  font-size: 2.75rem;
  line-height: 1.25;
  font-weight: 700;
  font-family: var(--caveat-font-family);
}

/* Attributes */

/* Margin */
.margin10 { margin: 10px !important; }
.margin20 { margin: 20px !important; }
.margin30 { margin: 30px !important; }
.margin40 { margin: 40px !important; }
.margin50 { margin: 50px !important; }
.margin60 { margin: 60px !important; }
.margin70 { margin: 70px !important; }
.margin80 { margin: 80px !important; }
.margin100 { margin: 100px !important; }

/* Margin Top */
.mt0 { margin-top: 0 !important; }
.mt10 { margin-top: 10px !important; }
.mt20 { margin-top: 20px !important; }
.mt30 { margin-top: 30px !important; }
.mt40 { margin-top: 40px !important; }
.mt50 { margin-top: 50px !important; }
.mt60 { margin-top: 60px !important; }
.mt70 { margin-top: 70px !important; }
.mt80 { margin-top: 80px !important; }
.mt90 { margin-top: 90px !important; }
.mt100 { margin-top: 100px !important; }

/* Margin Bottom */
.mb0 { margin-bottom: 0 !important; }
.mb10 { margin-bottom: 10px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb50 { margin-bottom: 50px !important; }
.mb60 { margin-bottom: 60px !important; }
.mb70 { margin-bottom: 70px !important; }
.mb80 { margin-bottom: 80px !important; }
.mb90 { margin-bottom: 90px !important; }
.mb100 { margin-bottom: 100px !important; }

/* Margin Left */
.ml0 { margin-left: 0 !important; }
.ml10 { margin-left: 10px !important; }
.ml20 { margin-left: 20px !important; }
.ml30 { margin-left: 30px !important; }
.ml40 { margin-left: 40px !important; }
.ml50 { margin-left: 50px !important; }
.ml60 { margin-left: 60px !important; }
.ml70 { margin-left: 70px !important; }
.ml80 { margin-left: 80px !important; }
.ml90 { margin-left: 90px !important; }
.ml100 { margin-left: 100px !important; }

/* Margin Right */
.mr0 { margin-right: 0 !important; }
.mr10 { margin-right: 10px !important; }
.mr20 { margin-right: 20px !important; }
.mr30 { margin-right: 30px !important; }
.mr40 { margin-right: 40px !important; }
.mr50 { margin-right: 50px !important; }
.mr60 { margin-right: 60px !important; }
.mr70 { margin-right: 70px !important; }
.mr80 { margin-right: 80px !important; }
.mr90 { margin-right: 90px !important; }
.mr100 { margin-right: 100px !important; }

/* Padding */
.padding10 { padding: 10px !important; }
.padding20 { padding: 20px !important; }
.padding30 { padding: 30px !important; }
.padding40 { padding: 40px !important; }
.padding50 { padding: 50px !important; }
.padding60 { padding: 60px !important; }
.padding70 { padding: 70px !important; }
.padding80 { padding: 80px !important; }
.padding100 { padding: 100px !important; }

/* Padding Top */
.pt0 { padding-top: 0 !important; }
.pt10 { padding-top: 10px !important; }
.pt20 { padding-top: 20px !important; }
.pt30 { padding-top: 30px !important; }
.pt40 { padding-top: 40px !important; }
.pt50 { padding-top: 50px !important; }
.pt60 { padding-top: 60px !important; }
.pt70 { padding-top: 70px !important; }
.pt80 { padding-top: 80px !important; }
.pt90 { padding-top: 90px !important; }
.pt100 { padding-top: 100px !important; }

/* Padding Bottom */
.pb0 { padding-bottom: 0 !important; }
.pb10 { padding-bottom: 10px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb30 { padding-bottom: 30px !important; }
.pb40 { padding-bottom: 40px !important; }
.pb50 { padding-bottom: 50px !important; }
.pb60 { padding-bottom: 60px !important; }
.pb70 { padding-bottom: 70px !important; }
.pb80 { padding-bottom: 80px !important; }
.pb90 { padding-bottom: 90px !important; }
.pb100 { padding-bottom: 100px !important; }

/* Padding Left */
.pl0 { padding-left: 0px !important; }
.pl10 { padding-left: 10px !important; }
.pl20 { padding-left: 20px !important; }
.pl30 { padding-left: 30px !important; }
.pl40 { padding-left: 40px !important; }
.pl50 { padding-left: 50px !important; }
.pl60 { padding-left: 60px !important; }
.pl70 { padding-left: 70px !important; }
.pl80 { padding-left: 80px !important; }
.pl90 { padding-left: 90px !important; }
.pl100 { padding-left: 100px !important; }

/* Padding Right */
.pr0 { padding-right: 0px !important; }
.pr10 { padding-right: 10px !important; }
.pr20 { padding-right: 20px !important; }
.pr30 { padding-right: 30px !important; }
.pr40 { padding-right: 40px !important; }
.pr50 { padding-right: 50px !important; }
.pr60 { padding-right: 60px !important; }
.pr70 { padding-right: 70px !important; }
.pr80 { padding-right: 80px !important; }
.pr90 { padding-right: 90px !important; }
.pr100 { padding-right: 100px !important; }

/***************** Swiper Slider Start *********************/

.swiper-button-next,
.swiper-button-prev {
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: var(--white);
}

.swiper-button-next, .swiper-button-prev {
  width: 20px !important;
  height: 15px !important;
  padding: 20px !important;
}

.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 15px !important;
  color: var(--secondary-color) !important;
  font-weight: bold !important;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, auto);
  width: 100%;
  margin-top: 40px !important;
}

.swiper-pagination {
  position: relative !important;
  text-align: left !important;
}

.swiper-pagination.swiper-pagination-primary .swiper-pagination-bullet {
  background-color: #85878a !important;
  transition: width .3s ease-in-out, height .3s ease-in-out, background-color .3s ease-in-out !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-color) !important;
  width: 20px !important;
  border-radius: 5px !important
}

/* .swiper-slide-active {
  margin-left: 60px !important;
} */

/***************** Swiper Slider End *********************/

/***************** Header Section Start *********************/

.sticky-header {
  position: sticky !important;
  z-index: 99;
  width: 100%;
  top: 0;
  transition: background-color .3s ease-in-out;
}

.sticky-nav {
  background: var(--white);
  box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

/* Loader CSS */

.loader {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:0px;
  height:0px;
  border-radius:100%;
  opacity:0;
  border: 3px solid var(--primary-color);
  animation:anim 4s infinite linear;
}

@keyframes anim {
  0% {
    opacity:0.0;
    width:0vmin;
    height:0vmin;
  }
  10% {
    opacity:0.2;
  }
  100% {
    opacity:0.0;
    width:100vmin;
    height:100vmin;
  }
}

.loader:nth-child(1) { animation-delay:200ms; }
.loader:nth-child(2) { animation-delay:400ms; }
.loader:nth-child(3) { animation-delay:600ms; }
.loader:nth-child(4) { animation-delay:800ms; }
.loader:nth-child(5) { animation-delay:1000ms; }
.loader:nth-child(6) { animation-delay:1200ms; }
.loader:nth-child(7) { animation-delay:1400ms; }
.loader:nth-child(8) { animation-delay:1600ms; }
.loader:nth-child(9) { animation-delay:1800ms; }

.hero-heading {
  font-family: var(--caveat-font-family);
}

.rs-firework {
  position: relative;
}

.rs-firework::after {
  content: url('../images/wireframe/fireworks.svg');
  position: absolute;
  left: 100%;
  bottom: 0;
  pointer-events: none;
}

.rs-hero-shape1 {
  position: absolute;
  top: 20%;
  left: 0;
  animation: moving 9s linear infinite;
}

.rs-hero-shape4 {
  position: absolute;
  top: 22%;
  left: 50%;
  animation: moving 9s linear infinite;
}

@keyframes moving {
  0% {
    transform: translatey(0);
  }
  20% {
      transform: translateX(-3.125rem);
  }

  50% {
      transform: translatey(-2.5rem);
  }
  100% {
      transform: translatey(0);
  }
}

.rs-hero-shape2 {
  position: absolute;
  top: 81%;
  left: 3%;
  animation: movingleftright1 18s infinite;
}

@keyframes movingleftright1 {
  0% {
    transform: translateX(0) translateY(0);
  }
  40% {
      transform: translateX(3.125rem) translateY(-3.125rem);
  }
  75% {
      transform: translateX(12.5rem);
  }
  100% {
      transform: translateY(0) translateX(0);
  }
}

.rs-hero-shape3 {
  position: absolute;
  top: 58%;
  left: 3%;
  z-index: -1;
  animation: imagebgmove 4s infinite alternate;
}

@keyframes imagebgmove {
  0% {
    transform: translateX(-1.875rem);
  }
  100% {
      transform: translateX(1.25rem);
  }
}

.hero-img-main {
  position: absolute;
  top: auto;
  right: 0;
  overflow: hidden;
}

.hero-img {
  -webkit-mask-image: url('../images/wireframe/hero-wireframe.svg');
  height: 100%;
  width: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-position: 50%;
  overflow: hidden;
  transform: translate(10%, -6%);
}

.hero-img img {
  height: 53rem;
  object-fit: cover;
}

.hero-img-inner {
  margin-top: 2.8125rem;
}

/***************** Hero Section End *********************/


/***************** Trusted Partners Section Start *********************/

.trusted-partners {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.trusted-partners-title {
  font-size: 30px;
  font-family: var(--caveat-font-family);
}

.rs-btm-line {
  position: relative;
  padding-bottom: 10px;
}

.rs-btm-line::after {
  content: "";
  background: linear-gradient(230deg, var(--secondary-color) 6%, var(--primary-color) 100%);
  height: 3px;
  width: 100px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.trusted-partners-inner .img-item {
  border: 1px solid #f2f2f2;
  list-style-type: none;
  margin: 0 10px;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
}

.trusted-partners-inner .img-item img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  transition: filter 0.3s ease; 
  filter: grayscale(100%);
  transition: filter 0.3s ease, transform 0.3s ease;
}

.trusted-partners-inner .img-item:hover img {
  filter: none;
  transform: scale(1.05);
}
/***************** Trusted Partners Section End *********************/

/***************** About Section Start *********************/
.about-us .about-figure {
  justify-content: end;
  display: flex;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.about-us .list-group .list-group-item {
  padding: .425rem 0;
}
/***************** About Section End *********************/

/***************** Services Section Start *********************/
.section-title {
  font-size: 50px;
  font-family: var(--caveat-font-family);
  text-align: center;
}

.section-desc {
  font-size: 18px;
  line-height: 24px;
  padding: 20px 20%;
  text-align: center;
}

.service-card {
  background: var(--card-dark-bg);
  border-radius: var(--btn-border-radius);
  display: flex;
  flex-direction: column;
}

.service-card .card-content {
  padding: 1.25rem 1.25rem;
  flex-grow: 1;
}

.service-card .service-icon {
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  font-size: 1.2rem;
  margin-top: -2.5rem !important;
}

.service-card .service-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.service-card .card-footer {
  padding: 0px 20px 20px 20px;
  border-radius: var(--btn-border-radius);
  margin-top: auto;
}

.service-card .card-icon-link {
  display: inline-flex;
  gap: .375rem;
  align-items: center;
  color: var(--primary-color);
  text-underline-offset: .25em;
  backface-visibility: hidden;
}

.service-shape {
  margin-right: auto !important;
  margin-top: -10rem !important;
  right: 0 !important;
  top: auto !important;
}

/***************** Services Section End *********************/

/***************** Testimonial Section Start *********************/

.font-bold {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.25;
}

.list-inline {
  padding-left: 0;
}

.list-inline .list-inline-item {
  display: inline-block;
}

.avatar {
  position: relative;
  display: inline-block !important;
}

.avatar-sm {
  height: 2.5rem;
  width: 2.5rem;
}

.testimonial-arrow {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) !important;
  left: 0;
  margin-left: -2.5rem;
}

.testimonial-img {
  margin-left: auto !important;
}
/***************** Testimonial Section End *********************/